if theme.aside.card_author.enable
  .card-widget.card-info
    .card-info-avatar
      .author-info__sayhi(id="author-info__sayhi")= theme.aside.card_author.sayhi 
      .author-info__name=  theme.aside.card_author.name
      .author-info__description!= theme.aside.card_author.description
      .author-info__description2!= theme.aside.card_author.description2
      a.author-info__avatar(href='/about/')
        if theme.lazyload.enable
          img.avatar-background(data-lazy-src=url_for(theme.aside.card_author.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt="avatar")
        else
          img.avatar-background(src=url_for(theme.aside.card_author.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt="avatar")

    //- .card-info-data
    //-   if site.posts.length
    //-     .card-info-data-item.is-center
    //-       a(href=url_for(config.archive_dir) + '/')
    //-         .headline= _p('aside.articles') 
    //-         .length-num= site.posts.length

    //-   if site.tags.length
    //-     .card-info-data-item.is-center
    //-       a(href=url_for(config.tag_dir) + '/')
    //-         .headline= _p('aside.tags')
    //-         .length-num= site.tags.length

    //-   if site.categories.length
    //-     .card-info-data-item.is-center
    //-       a(href=url_for(config.category_dir) + '/')
    //-         .headline= _p('aside.categories') 
    //-         .length-num= site.categories.length

    if theme.aside.card_author.button.enable
      div.card-info-social-icons
        a.social-icon(href=theme.aside.card_author.button.link)
          i(class=theme.aside.card_author.button.icon)
        a.social-icon(href=theme.aside.card_author.button.link2)
          i(class=theme.aside.card_author.button.icon2)
  