#article-container
  if top_img === false && page.tip
    h1.page-title.page-title-has= page.title
    .page-title-tip!= page.tip
  else 
    h1.page-title= page.title
    
  != page.content

  .timeline(class="essay")
    if site.data.essay
      each i in site.data.essay
        .timenode
          .meta
            p
            p=i.date
            p
          .body
            p=i.msg
