#footer-social
  each url, icon in theme.social.left
    a.deal_link(href=url_for(trim(url.split('||')[0])) target="_blank" 
    title=url.split('||')[1] === undefined ? '' : trim(url.split('||')[1]))
      i(class=icon)
  if theme.lazyload.enable
    img.footer_mini_logo(data-lazy-src=url_for(theme.avatar.img) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt="回到顶部" onclick="btf.scrollToDest(0,500)")
  else
    img.footer_mini_logo(src=url_for(theme.avatar.img) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt="回到顶部" onclick="btf.scrollToDest(0,500)")  
  each url, icon in theme.social.right
    a.deal_link(href=url_for(trim(url.split('||')[0])) target="_blank" 
    title=url.split('||')[1] === undefined ? '' : trim(url.split('||')[1]))
      i(class=icon)

#footer-container
  .footer-group
    h3.footer-title='关于'
    .footer-links
      a.footer-item(href='/about/')='关于本站'
      a.footer-item(href='/about/')='赞赏作者'
      a.footer-item(href='/about/')='文章统计'
  .footer-group
    h3.footer-title='文章'
    .footer-links
      a.footer-item(href='/archives/')='文章列表'
      a.footer-item(href='/categories/')='全部分类'
      a.footer-item(href='/tags/')='全部标签'
  .footer-group
    h3.footer-title='分类'
    .footer-links
      a.footer-item(href='/categories/Butterfly魔改/')='Butterfly魔改'
      a.footer-item(href='#')='前端开发'
      a.footer-item(href='categories/Git相关/')='Git相关'
  .footer-group
    h3.footer-title='生活'
    .footer-links
      a.footer-item(href='/essay/')='随笔说说'
      a.footer-item(href='/talking/')='生活杂谈'
      a.footer-item(href='#')='头脑风暴'
  .footer-group
    h3.footer-title='导航'
    .footer-links
      a.footer-item(href='/link/')='友情链接'
      a.footer-item(href='/tools/')='在线工具'
      a.footer-item(href='/atom.xml' target='_blank')='Atom订阅'
      //- a.footer-item(href='https://realwds.avosapps.us/' target='_blank')='评论后台'
  .footer-group
    h3.footer-title='协议'
    .footer-links
      a.footer-item(href='/privacy/')='隐私协议'
      a.footer-item(href='/copyright/')='版权声明'
      a.footer-item(href='/tousu/')='侵权投诉'
#footer-banner
  .footer-banner-links
    .footer-banner-left
      if theme.footer.owner.enable
      - var now = new Date()
      - var nowYear = now.getFullYear()
      if theme.footer.owner.since && theme.footer.owner.since != nowYear
        span.copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
      else
        span.copyright!= `&copy;${nowYear} By ${config.author}`
      if theme.footer.copyright
        a.footer-banner-link(target="_blank" href='https://hexo.io/zh-cn/')='Hexo'
        a.footer-banner-link(target="_blank" href='https://github.com/jerryc127/hexo-theme-butterfly')='Butterfly'
        a.footer-banner-link(target="_blank" href='https://blog.zhheo.com/')='主题'
        a.footer-banner-link(target="_blank" href='/about/')='关于'
    .footer-banner-right
      a.footer-banner-link(target="_blank" href='https://realwds.vercel.app')=theme.footer.custom_text

script(src='https://cdn.jsdelivr.net/gh/briangonzalez/rgbaster.js@1.1.0/rgbaster.min.js')
script(data-pjax, src='/realwds/realwds.js')

.js-pjax
  script.
    coverColor(),sayhi()
